name: test yaml consistency

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: test yaml consistency
      run: scripts/test-yaml-consistency.sh
